/* *{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.navbar{
    background-color: #d49494;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: end;
    gap: 100px;
    align-items: center;
}
.navbar a{
    height: fit-content;
    padding: 10px;
    width: fit-content;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.navbar button{
    height: fit-content;
    width: auto;
    padding: 5px;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
}
.Home-about{
    width: 2048px;
    height: 1035px;

    background-image: url("https://media.istockphoto.com/id/1204374053/photo/profile-side-view-portrait-of-his-he-nice-attractive-skilled-focused-serious-guy-writing.webp?s=2048x2048&w=is&k=20&c=lvlmCuevpv8nMKREy56iTX-DfzSuZ3a7VD6nKVCGjV4=");
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.Home-about h1{
    font-size: 6em;
}
.Home-about h2{
    font-size: 4em;
}
.Home-about img{
    height: 1200px;
    width: 1200px;
}